<!DOCTYPE html SYSTEM "about:legacy-compat">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Technical Assessment</title>
</head>
<body>

<nav class="navbar navbar-light bg-dark text-white">
    <a class="navbar-brand">Technical Form</a>
    <form class="form-inline">
        <div th:with="loginUrl=(${lurl})">
            <a th:href="@{${loginUrl}}" }
               class="btn btn-dark text-white">
                Logout
            </a>
        </div>
    </form>
</nav>
<br>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-3 shadow-sm p-3 mb-5 rounded bg-dark text-white">
            <form action="#" th:action="@{/employee/technicalAssessmentScheduled}"
                  th:object="${assessment}" method="POST">

                <div class="form-group">
                    <label>Employee Id</label> <input type="text" name="empId"
                                                      id="empId" class="form-control mb-4 col-4"
                                                      th:value="${loginEmpId}"
                                                      readonly/>
                </div>
                <label>Select Assessment</label><br> <select th:field="*{assessmentName}">
                <option th:each="atype : ${assessmentType}"
                        th:value="${atype.assessmentName}"
                        th:utext="${atype.assessmentName}"></option>
            </select>
                <hr>
                Assessment Date <input type="date" th:min="${date}" name="adate"
                                       th:field="*{assessmentDate}"
                                       class="form-control mb-4 col-4">

                <button type="submit" class="btn btn-info col-4">Schedule
                    Assessment
                </button>

            </form>
        </div>
    </div>


</div>

</body>


</html>